{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block page_title %}Django Trade Simulation{% endblock %}</title>

    {% block bootstrap_css %}
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% endblock %}





    {% block favicons %}
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/media/assets/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/media/assets/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/media/assets/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/media/assets/favicons/manifest.json">
    <link rel="mask-icon" href="/media/assets/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/media/assets/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3">
    {% endblock %}


    {% block page_css %}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    {% endblock %}
</head>

<body class="bg-light">

    <div class="container">
        <main>
            {% block site_hero %}
            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="/media/assets/logo.svg" alt="" width="72" height="57">
                <h2>Django Trade Simulation</h2>
                <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required
                    form group has a validation state that can be triggered by attempting to submit the form without
                    completing it.</p>
            </div>
            {% endblock %}

            <div class="row g-5">
                {% include 'base/side_menu.html' %}
                <div class="col-md-7 col-lg-8">
                    {% block main %}
                    <h4 class="mb-3">Simulations</h4>
                    {% include 'base/forms.html' %}
                    <br>
                    <div class="card">
                        <div class="card-header">
                            Results
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>A well-known quote, contained in a blockquote element.</p>
                                <footer class="blockquote-footer">
                                    disclaimer messages
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                    {% endblock %}
                </div>
            </div>

        </main>

        {% include 'base/footer.html' %}
    </div>

    {% block js_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="form-validation.js"></script>
    {% endblock %}
</body>

</html>